<body class="home-page">
  <div class="card text-center bg-warning" style="width: 25rem;">
    <%= link_to image_tag("workorder.jpg", class: "img-responsive ml-3 mt-3", id: "wo-image"), new_order_path %>
    <div class="card-body">
      <h4 class="card-title">Work Order</h4>
      <p class="card-text">Create new work order and track past ones.</p>
    </div>
  </div>
</body>